{%extends 'base.html'%}
{% block body %}



<centre><h6>

    50 years of Quality with Compassion<br>
BBH is a 340-bed multispeciality hospital that embodies quality with compassion and is governed by Christian Medical College (CMC), Vellore.<br> BBH is the first mission hospital in the country to have met national quality standards (NABH and NABL) of excellence in healthcare. BBH started as an outpatient clinic in the mid-sixties by the Southern Baptist Convention and evolved to a 80-bed general hospital which was formally opened on 15 January 1973. 

With an experienced, well-qualified team of 320 doctors (full time, visiting and PGs) and a passionate workforce of more than 1,200 staff, BBH is committed to providing high-quality care using the latest technology and medical advances in vogue.
</h6></centre>

<img src="https://www.tylin.com/sites/default/files/styles/b1_l_16x9/public/image/2022-02/Mount-Elizabeth-Novena-Hospital_thumbnail.jpeg?h=1a1bbd79&itok=_VhYO9UH">



{% endblock body %}